@media(orientation:landscape) and (max-width:1024px){
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr
    }

  #work ul{
    grid-column: 1/3;
    margin: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    }

  #work li{
    margin: 0;
  }

  #navbar{
    grid-column: 1/3;
  }


  label{
    font-size: 1.5rem;
  }
  .listname {
    margin-top: 0.25rem;
  }

  .listname ul li a{
    text-decoration: none;
    padding: 0.15rem 0 ;
    color: white;

  }

  .listname ul li{
    font-size: 1rem;
    padding: 0.25rem 0.35rem ;
  }
  .listname li a:visited{
    color: white;

  }

  .listname li a:hover{
    font-size: 1.1rem;
    color: #ff7b29;
  }
  .box{
    grid-column: 1/3;
  }

  .waterfall-inner{
    column-count: 2;
    column-gap: 2rem;
    column-fill: auto;
    margin: 0 2rem;
  }
  .intro_content{
    display:none;
  }

  #writer h2{
    font-size: 2rem;
    font-family: Futura,'IBM Plex Sans', sans-serif;
    position:fixed;
  }

  #writer p{
    font-size: 1.5rem;
    margin-top: 5rem;
    position:fixed;

  }

  #about #selfdes{
    background: #ff7b29;
    text-align: left;
    grid-column: 1/3;
    padding: 3rem 0rem;
    z-index: 2;
  }


  #about #selfdes p{
    margin: 1rem auto;
  }

  .photo{
    grid-column: 1/3;
  }




}
