*{
    font-family: 'Roboto', sans-serif;
  }

@media(min-width:1024px){

    body{
        background-color:rgb(250,250,250);
    }

    .bold{
        font-weight: 700;
    }

    /* text */ 


    .align-left{
        text-align: left;
        width:1024px;
        margin: 12rem auto;
        margin-bottom: 0;
    }

    .align-left p{
        width:100%;
        color: rgb(10, 10, 10);
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 0;
        font-weight: 300;
        line-height: 2.4rem;
        font-size: 1.1rem;
        
    }

    .align-left span{
        font-family: 'Arial', sans-serif;
        color: rgb(10, 10, 10);
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .align-left p .inline-style{
        font-family: 'Roboto', sans-serif;
        color: #4372B5;
        font-size: 1.1rem;
    }
    .align-left p a{
        text-decoration: none;
    }

    .problem{
        margin-top: 2rem;
    }

    .problem span{        
        font-size: 1.5rem;
        font-weight: 700;
    }

    .mockup{
        position: absolute;
        width: 1024px
    }


    .center_text div{
        display: inline-block;
        margin: 0 4rem;
        font-size: 2rem;
        color: #4372B5;

    }

    .center_text a{
        text-decoration: none;
        color: #4372B5;
    }

    .center_text p{
        color: rgb(10, 10, 10);
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 0;
        font-weight: 300;
        line-height: 1.8rem;
        font-size: 1rem;
    }

    /* heading  of each section*/

    .heading{
        text-align: center;
        margin-top: 10rem;
        padding:0;
        color: rgb(15, 15, 15);
        font-size: 2rem;
        font-weight: bolder;    
        font-family:'playfair display', sans-serif;
    }

    .bar{
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -5rem;
        width:50px;
        border-bottom: 2px solid rgb(15, 15, 15);
    }

    /* headr */

    #navigation{
        background-color:rgb(250,250,250,100%);
        transition: top 0.4s;
        padding:2rem 3rem;
       }
    #navigation h1{
        color: rgb(239, 96, 133);
    }
    #link{
        margin-top: .8rem;
    }
    #link a{
        color: rgb(10, 10, 10);
    }

    .progress-container {
        z-index: 5;
        position: fixed;
        width: 100%;
        height: 8px;
    }
      
    .progress-bar {
        height: 8px;
        background: rgb(239, 96, 133);
        width: 0%;
    }

    #logo img{
        height: 2.5rem;
        color: rgb(10, 10, 10);
    }

    .svg_logo{
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(190deg) brightness(118%) contrast(119%);   
        animation: svg_logo infinite;
        animation-duration: 3s;
    }

    /* @keyframes svg_logo{
        0%{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(10deg) brightness(118%) contrast(119%);
        }
        20%{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(350deg) brightness(118%) contrast(119%);
        }
        40%{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(80deg) brightness(118%) contrast(119%);
        }
        60%{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(180deg) brightness(118%) contrast(119%);
        }
        80%{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(300deg) brightness(118%) contrast(119%);
        }
        100%{
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(2deg) brightness(118%) contrast(119%);
        }
    } */


    

    /* cover image */

    .cover-img{
        padding-top:6rem;
        width:100%;
        height:auto;
        align-content: center;
    }

    /* time role tool + overview*/

    .bullet_p{
        margin-left: 1.5rem;
        padding: 0.5rem;
    }

    .bullet_p p{
        padding: 1rem 0;
    }

    /* video */
    .video {
        width:849px;
        height: auto;
        box-shadow: 10px 10px 15px rgb(10,10,10 10);
        position:absolute;
        margin-left: 88px;
        margin-top: 145px;

    }

    .laptopmockup{
        width:1024px
    }

    .perchvideocontainer{
        width:1024px
    }
    

    /*long image*/
    .outside_img img{
        margin-top:2rem;
        margin-bottom:4rem;
        width:100%;
        height:auto;
    }

    .bigger_margin{
        margin-top:10rem;
        margin-bottom:2rem;

    }

    /*short image*/
    .inside_img img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        width:100%;
        height:auto;
    } 


    .short_img img{
        width:50%;
    }

    /*feature video*/


    #f01{
        margin-top: 12rem;
    }
    
    /*feature name*/
    .final_design span{
        font-family: 'Arial', sans-serif;
        color: rgb(10, 10, 10);
        font-weight: 700;
    }

    .final_design p{
        width:50%;
        color: rgb(10, 10, 10);
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 0;
        font-weight: 300;
        line-height: 1.8rem;
        padding-left: 1.8rem;

    }

    /* white version footer */

    #footer{
        background-color: rgb(250,250,250);
        height:15rem;
      }
    
    #footer .long-card{
        display: grid;
        margin-left:3rem;
        grid-template-columns: 1fr 1fr 1fr;
      }
    
    .part{
        display: inline-block;
        margin: 4rem 0rem;
        line-height: 1.4rem;
      }
    
    #footer .one{
        grid-column: 1/2;
      }
    #footer .two{
        grid-column: 2/3;
      }
    #footer .three{
        grid-column: 3/4;
        color: rgb(40,40,40);
        text-align: center;
      }
    
    #footer p{
        font-family: 'roboto', sans-serif;
        font-size: 0.9rem;
        color: rgb(40,40,40);
        font-weight: 300;
      }
    
    #footer span{
        color: rgb(233, 90, 23);
      }
    
    
    #footer .three i{
        
        font-size: 1.5rem;
        padding:0.8rem;
        text-decoration: none;
        color: rgb(40,40,40);
    
      }
    
      /* solution */
      
      .solution-video video{
        width:293px;
        margin-top: 1rem;
        margin-left: 1.2rem;
        border-radius: 0.8rem;

    }

    .solution-video img{
        width:330px;
        position: absolute;
    }
    .solution-video .laptop_video{
        grid-column: 3/5;
        padding:0;
        margin:0;
        margin-left: 120px;
        width:710px;
        border-radius: 0.8rem;
    }

    .solution-video .laptop_mockup{
        grid-column: 3/5;
        padding:0;
        margin:0;
        margin-left: 30px;
        width:890px;
    }


      /* background*/

    .backgroundcolor{
          width:1400px;
          margin:2rem auto;
  
      }
  
    .solution{
        margin:12rem 12rem;
        margin-right: 3rem;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

    .txt-content{
          margin-top: 1.5rem;
      }
    
    .solution-text{
        display: inline-block;
        text-align: left;
        grid-column: 1/3;
        width:80%
      }

    .solution-text p{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
        line-height: 2.4rem;
        font-size: 1.1rem;
        text-decoration: none;
      }

    .solution-text a{
        text-decoration: none;
        color:#21D3A6;
    
      }

    .solution-text .txt-header span{
        font-size: 3.2rem;
        color: rgb(10, 10, 10)
    }

    .txt-header p{
        margin-top: 2rem;
        font-weight:bolder;  
        font-size: 1.8rem;
    }


    .solution-img{
        display: inline-block;
        width:100%;
        grid-column: 3/5;
      }

    .solution-img img{
        width:100%;
        height:auto;
      }

    .lastpart{
          margin-bottom: 6rem;
      }

}